html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  list-style: none;
  box-sizing: border-box;
  background: #000;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0;
}

#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 150;
}

#progressBar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 150;
  background: linear-gradient(to top, #d3a584,#d4943d, #17c027, #b20b0b, #ea944a, #944855, #0443ac, #79d3fb);
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%, 100%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}

#progressBar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #BC815E, #4094F1);
  filter: blur(10px);
}

#progressBar::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #BC815E, #4094F1);
  filter: blur(30px);
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img {
  width: 40%;
  filter: brightness(0.5);
}

.text h1 {
  font-family: 'Megrim', cursive;
  font-size: 10vw;
  color: #fff;
  letter-spacing: 30px;
  position: absolute;
  top: 10vh;
  left: 23vw;
  text-shadow: 1px 1px 20px #fff;
}

.sun img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(1);
}

.mid {
  left: -150px !important;
  bottom: -100px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  filter: brightness(0.5);
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#scroll a {
  padding-top: 60px;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;  
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#sectionone::before{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 2;
}

#sectiontwo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.rockbg1 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.8);
  top: 20vh;
  left: 0;
  z-index: 1;
}

.planet-links {
  width: 95%;
  height: 5.5vh;
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-family: "Megrim", cursive;
  z-index: 2;
}

.planet-links .swiper-pagination-bullet {
  opacity: 0.2;
  outline: none;
  flex-basis: content;
}

.planet-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
  flex-basis: content;
  transform: scale(1.2);
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
  transition: .5s ease;
  align-content: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
  margin-top: 150px;
}

.swiper-slide {
  height: 500px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("../img/mercury.png");
}

.swiper-slide:nth-child(2) .slide-img {
  background-image: url("../img/venus.png");
}

.swiper-slide:nth-child(3) .slide-img {
  background-image: url("../img/earth.png");
}

.swiper-slide:nth-child(4) .slide-img {
  background-image: url("../img/mars.png");
}

.swiper-slide:nth-child(5) .slide-img {
  background-image: url("../img/jupiter.png");
}

.swiper-slide:nth-child(6) .slide-img {
  background-image: url("../img/saturn.png");
}

.swiper-slide:nth-child(7) .slide-img {
  background-image: url("../img/uranus.png");
}

.swiper-slide:nth-child(8) .slide-img {
  background-image: url("../img/neptune.png");
}

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 200px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 240px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.slide-detail-facts div {
  display: flex;
  position: relative;
}

.slide-detail-facts div h5 {
  margin-right: 20px;
  letter-spacing: 1px;
}

.slide-text {
  position: absolute;
  top: -190px;
  left: 22%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
  padding-top: 5px;
}

.slide-text h4 {
  color: #fff;
  font-size: 120px;
  position: relative;
  font-family: 'Inconsolata', monospace;
}

.slide-text h4 span {
  position: absolute;
}

.ftr{
  color: #fff;
  background-color: #111;
  padding: 1px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2.5px;
  font-weight: lighter;
}

.ftr h5{
  font-weight: 500;
  margin: 15px 0;
}
